@page "/todo"
@rendermode InteractiveServer
<PageTitle>TODO</PageTitle>

<h3>TODO</h3>
<div class="statistics">
    <h5>Всего заданий: @tasklist.Count</h5>
    <h5>Выполненных заданий: @tasklist.Where(task => task.DONE ==true).ToList().Count</h5>
    <h5>Осталось: @tasklist.Where(task => task.DONE ==false).ToList().Count</h5>
</div>

<input placeholder ="Новая задача" @bind="task" @onkeyup="Enter"/>
<button @onclick="AddTask" class="add-btn">Добавить</button>
<button @onclick="ClearCompleted" class="clear-btn">Удалить выполненные</button>
<ul class="tasklist">
    @foreach (TODOitem i in tasklist)
    {
        <li>
            <input type="checkbox" @bind="@i.DONE" id="@i.Title" />
            <label for="@i.Title" class=@(i.DONE ? "done" : "")>@i.Title</label>
            <button @onclick="() => DeleteTask(i)" class="delete-btn">Х</button>
        </li>    
    }
</ul>

@code {
    List<TODOitem> tasklist = [];
    string task;
    void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(task) && !tasklist.Contains(new TODOitem { Title = task}))
        {
            tasklist.Add(new TODOitem { Title = task });
            task = "";
        }    
    }
    void Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddTask();
        }    
    }

    // Удаление отдельной задачи
    void DeleteTask(TODOitem taskToDelete)
    {
        tasklist.Remove(taskToDelete);
    }

    // Удаление всех выполненных задач
    void ClearCompleted()
    {
        tasklist.RemoveAll(task => task.DONE);
    }
}
