@page "/todo"
@rendermode InteractiveServer
<PageTitle>TODO</PageTitle>

<h3>TODO</h3>
<div class="statistics">
    <h4>Всего заданий: @tasklist.Count</h4>
    <h4>Выполненных заданий: @tasklist.Where(task => task.DONE ==true).ToList().Count</h4>
    <h4>Осталось: @tasklist.Where(task => task.DONE ==false).ToList().Count</h4>
</div>
<input placeholder ="Новая задача" @bind="task" @onkeyup="Enter"/>
<button @onclick="AddTask">Добавить</button>
<ul class="tasklist">
    @foreach (TODOitem i in tasklist)
    {
        <li>
            <input type="checkbox" @bind="@i.DONE" id="@i.Title" />
            <label for="@i.Title" class=@(i.DONE ? "done" : "")>@i.Title</label>
        </li>    
    }
</ul>

@code {
    List<TODOitem> tasklist = [];
    string task;
    void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(task) && !tasklist.Contains(new TODOitem { Title = task}))
        {
            tasklist.Add(new TODOitem { Title = task });
            task = "";
        }    
    }
    void Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddTask();
        }    
    }
}
