@page "/teachers/details"
@inject BlazorAcademyHW.Data.Pd321Context DB
@using BlazorAcademyHW.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    @if (teacher is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@teacher.LastName</dd>
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@teacher.FirstName</dd>
            <dt class="col-sm-2">MiddleName</dt>
            <dd class="col-sm-10">@teacher.MiddleName</dd>
            <dt class="col-sm-2">BirthDate</dt>
            <dd class="col-sm-10">@teacher.BirthDate</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@teacher.Email</dd>
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">@teacher.Phone</dd>
            <dt class="col-sm-2">Photo</dt>
            <dd class="col-sm-10">@teacher.Photo</dd>
            <dt class="col-sm-2">WorkSince</dt>
            <dd class="col-sm-10">@teacher.WorkSince</dd>
            <dt class="col-sm-2">Rate</dt>
            <dd class="col-sm-10">@teacher.Rate</dd>
        </dl>
        <div>
            <a href="@($"/teachers/edit?teacherid={teacher.TeacherId}")">Edit</a> |
            <a href="@($"/teachers")">Back to List</a>
        </div>
    }
</div>

@code {
    Teacher? teacher;

    [SupplyParameterFromQuery]
    public short TeacherId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        teacher = await DB.Teachers.FirstOrDefaultAsync(m => m.TeacherId == TeacherId);

        if (teacher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
