@page "/teachers/delete"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Teacher</PageTitle>

<h1>Delete Teacher</h1>

<p>Are you sure you want to delete this?</p>
<hr />

@if (teacher is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@teacher.LastName</dd>
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@teacher.FirstName</dd>
        <dt class="col-sm-3">Middle Name</dt>
        <dd class="col-sm-9">@teacher.MiddleName</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@teacher.Email</dd>
        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@teacher.Phone</dd>
        <dt class="col-sm-3">Rate</dt>
        <dd class="col-sm-9">@teacher.Rate</dd>
    </dl>
    
    <button class="btn btn-danger" @onclick="DeleteTeacher">Delete</button>
    <a href="/teachers" class="btn btn-secondary ms-2">Back to List</a>
}

@code {
    private Teachers? teacher;

    [Parameter]
    [SupplyParameterFromQuery(Name = "teacherid")]
    public int TeacherId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        teacher = await context.Teachers
            .AsNoTracking()
            .FirstOrDefaultAsync(m => m.TeacherId == (short)TeacherId);
    }

    private async Task DeleteTeacher()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        var teacherToDelete = await context.Teachers.FindAsync((short)TeacherId);
        if (teacherToDelete != null)
        {
            context.Teachers.Remove(teacherToDelete);
            await context.SaveChangesAsync();
        }
        NavigationManager.NavigateTo("/teachers");
    }
}