@page "/teachers/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Teachers</h2>
    <hr />
    @if (teachers is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">LastName</dt>            <dd class="col-sm-10">@teachers.LastName</dd>
            <dt class="col-sm-2">FirstName</dt>           <dd class="col-sm-10">@teachers.FirstName</dd>
            <dt class="col-sm-2">MiddleName</dt>          <dd class="col-sm-10">@teachers.MiddleName</dd>
            <dt class="col-sm-2">BirthDate</dt>           <dd class="col-sm-10">@teachers.BirthDate</dd>
            <dt class="col-sm-2">Email</dt>               <dd class="col-sm-10">@teachers.Email</dd>
            <dt class="col-sm-2">Phone</dt>              <dd class="col-sm-10">@teachers.Phone</dd>
            @* <dt class="col-sm-2">Photo</dt>            <dd class="col-sm-10">@teachers.Photo</dd> *@
            <dt class="col-sm-2">WorkSince</dt>
            <dd class="col-sm-10">@teachers.WorkSince</dd>
            <dt class="col-sm-2">Rate</dt>
            <dd class="col-sm-10">@teachers.Rate</dd>
        </dl>
        <div>
            <a href="@($"/teachers/edit?teacherid={teachers.TeacherId}")">Edit</a> |
            <a href="@($"/teachers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Teachers? teachers;

    [SupplyParameterFromQuery]
    private int TeacherId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        teachers = await context.Teachers.FirstOrDefaultAsync(m => m.TeacherId == TeacherId);

        if (teachers is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
